<body class="body">

<div class="cadreConnexion">
  <img src="../../assets/logoPokemon.png" alt="pokemon.png" width="230" height="135"><br><br>
  <h1>Inscription</h1><br><br>

  <label class="data">Pseudo :</label><br><br>
  <input type="text" class="form-control" placeholder="Ajoutez un pseudo" [(ngModel)]="utilisateurForm.pseudo"><br>
  <p *ngIf="!validerPseudo()" class="valids">* Le pseudo déjà utilisé</p>
  <label class="data">Mot de passe :</label><br><br>
  <input type="password" class="form-control" placeholder="..." [(ngModel)]="utilisateurForm.motDePasse"><br>
  <input type="password" class="form-control" placeholder="Validez mot de passe" [(ngModel)]="motDePasseBis"><br><br>
  <p *ngIf="!validerMotDePasse()" class="valids">* Les mots de passe ne sont pas identiques</p>
  <label class="data">Email :</label><br><br>
  <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="utilisateurForm.email"><br><br>
  <p *ngIf="!validerEmail()" class="valids">* L'email est déjà utilisé</p>

  <button class="data" (click)="inscription()">Inscription<br><br>
    <img src="../../assets/pokeball.png" alt="pokeball.png" style="width: 60px; height: 60px;">
  </button><br><br>
  <p *ngIf="!inscriptionValidation" class="valids">* Les informations sont incorrectes</p>

  <a [routerLink]="['/']">Retour à l'écran de connexion</a>
</div>
</body>
