

<body  class="body">


<p class="titre">Profil</p><br><br>

<div class="profil">
  <div style="display: inline-block;">
    <h1 style="text-align: left">{{pseudo}}</h1><br>
  </div>
  <div class=photoProfil>
    <img src="{{avatar}}" alt="photo.png" width="150" height="200">
  </div>
  <h1 style="text-align: left">{{email}}</h1>
</div>

<div class="statistiques">
  <h1>Statistiques</h1>

  <div style="display: inline-block; width: 100%; margin-top: 50px;">
    <p>Pokémon préféré : {{pokemonPref}}</p><br>

    <p *ngIf="nbrTotalParties!=0 && nbrTotalParties!=null">Pourcentage de vistoires : {{nbrVictoires/nbrTotalParties*100}}%</p><br>
    <p *ngIf="nbrTotalParties==0 || nbrTotalParties==null">Pourcentage de victoires :</p><br>

<!--    <p>Equipe 1: 100%</p>-->
<!--    <p>Equipe 2: 99%</p>-->
<!--    <p>Equipe 3: 98%</p>-->
<!--    <p>Equipe 4: 97%</p><br>-->

    <p>Nombre de parties jouées : {{nbrTotalParties}}</p><br>
    <p>Victoires : {{nbrVictoires}}</p><br>
    <p>Défaites : {{nbrDefaites}}</p><br>
  </div>
<!--  <div style="float: right; width: 40%; margin-top: 50px;">-->
<!--    <p>Rang actuel:</p><br>-->

<!--    <p>Rang dernière saison :</p>-->
<!--  </div>-->

</div>

<div class="equipe">

  <div *ngFor="let equipe of listEquipes, let index=index" style="display: inline-block; width: 50%">
    <h6>Equipe {{index+1}}  <button (click)="gerer(index)">Gérer</button></h6>

    <table>
      <tr>
        <th>
          <img src="{{equipe.listPokemons[0]?.pokeReference.avatar}}" width="80">
        </th>
        <th>
          <img src="{{equipe.listPokemons[1]?.pokeReference.avatar}}" width="80">
        </th>
        <th>
          <img src="{{equipe.listPokemons[2]?.pokeReference.avatar}}" width="80">
        </th>
      </tr>
      <tr *ngIf="equipe.listPokemons.length>3">
        <th>
          <img src="{{equipe.listPokemons[3]?.pokeReference.avatar}}" width="80">
        </th>
        <th *ngIf="equipe.listPokemons.length>4">
          <img src="{{equipe.listPokemons[4]?.pokeReference.avatar}}" width="80">
        </th>
        <th *ngIf="equipe.listPokemons.length>5">
          <img src="{{equipe.listPokemons[5]?.pokeReference.avatar}}" width="80">
        </th>
      </tr>
    </table>
  </div>
<!--  <div style="float: right; width: 50%">-->
<!--    <h6 style="text-align: right"> Equipe 2</h6>-->
<!--    <table style="float: right">-->
<!--      <tr>-->
<!--        <th>-->
<!--          <img src="arbok.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="arcanin.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="chrysacier.png" width="80">-->
<!--        </th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>-->
<!--          <img src="florizarre.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="grolem.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="ronflex.png" width="80">-->
<!--        </th>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
<!--  <div style="display: inline-block; width: 50%">-->
<!--    <br><br>-->
<!--    <h6> Equipe 3</h6>-->

<!--    <table>-->
<!--      <tr>-->
<!--        <th>-->
<!--          <img src="arbok.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="arcanin.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="chrysacier.png" width="80">-->
<!--        </th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>-->
<!--          <img src="florizarre.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="grolem.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="ronflex.png" width="80">-->
<!--        </th>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
<!--  <div style="float: right; width: 50%">-->
<!--    <br><br>-->
<!--    <h6 style="text-align: right"> Equipe 4</h6>-->

<!--    <table style="float: right">-->
<!--      <tr>-->
<!--        <th>-->
<!--          <img src="arbok.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="arcanin.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="chrysacier.png" width="80">-->
<!--        </th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th>-->
<!--          <img src="florizarre.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="grolem.png" width="80">-->
<!--        </th>-->
<!--        <th>-->
<!--          <img src="ronflex.png" width="80">-->
<!--        </th>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->

</div>




</body>

