

<body  class="body">



<p class="titre">Profil</p><br><br>

<div class="profil">
  <div style="display: inline-block;">
    <h1 style="text-align: left">Pseudo</h1><br>
  </div>
  <div class=photoProfil>
    <img src="photoProfil.jpg" width="150" height="200">
  </div>
  <h1 style="text-align: left">Email</h1>
</div>

<div class="statistiques">
  <h1>Statistiques</h1>

  <div style="display: inline-block; width: 40%; margin-top: 50px;">
    <p>Pokémon le plus joué :</p><br>

    <p>Taux de vistoires équipes perso :</p><br>

    <p>Equipe 1: 100%</p>
    <p>Equipe 2: 99%</p>
    <p>Equipe 3: 98%</p>
    <p>Equipe 4: 97%</p><br>

    <p>Nombre de parties jouées : 125</p><br>
    <p>Victoires : 124</p><br>
    <p>Défaites : 1</p><br>
  </div>
  <div style="float: right; width: 40%; margin-top: 50px;">
    <p>Rang actuel:</p><br>

    <p>Rang dernière saison :</p>
  </div>

</div>

<div class="equipe">

  <div style="display: inline-block;">
    <h6> Equipe 1</h6>
    <table>
      <tr>
        <th>
          <img src="arbok.png" width="80">
        </th>
        <th>
          <img src="arcanin.png" width="80">
        </th>
        <th>
          <img src="chrysacier.png" width="80">
        </th>
      </tr>
      <tr>
        <th>
          <img src="florizarre.png" width="80">
        </th>
        <th>
          <img src="grolem.png" width="80">
        </th>
        <th>
          <img src="ronflex.png" width="80">
        </th>
      </tr>
    </table>
  </div>
  <div style="float: right;">
    <h6 style="text-align: right"> Equipe 2</h6>
    <table>
      <tr>
        <th>
          <img src="arbok.png" width="80">
        </th>
        <th>
          <img src="arcanin.png" width="80">
        </th>
        <th>
          <img src="chrysacier.png" width="80">
        </th>
      </tr>
      <tr>
        <th>
          <img src="florizarre.png" width="80">
        </th>
        <th>
          <img src="grolem.png" width="80">
        </th>
        <th>
          <img src="ronflex.png" width="80">
        </th>
      </tr>
    </table>
  </div>
  <div style="display: inline-block;">
    <br><br>
    <h6> Equipe 3</h6>

    <table>
      <tr>
        <th>
          <img src="arbok.png" width="80">
        </th>
        <th>
          <img src="arcanin.png" width="80">
        </th>
        <th>
          <img src="chrysacier.png" width="80">
        </th>
      </tr>
      <tr>
        <th>
          <img src="florizarre.png" width="80">
        </th>
        <th>
          <img src="grolem.png" width="80">
        </th>
        <th>
          <img src="ronflex.png" width="80">
        </th>
      </tr>
    </table>
  </div>
  <div style="float: right;">
    <br><br>
    <h6 style="text-align: right"> Equipe 4</h6>

    <table>
      <tr>
        <th>
          <img src="arbok.png" width="80">
        </th>
        <th>
          <img src="arcanin.png" width="80">
        </th>
        <th>
          <img src="chrysacier.png" width="80">
        </th>
      </tr>
      <tr>
        <th>
          <img src="florizarre.png" width="80">
        </th>
        <th>
          <img src="grolem.png" width="80">
        </th>
        <th>
          <img src="ronflex.png" width="80">
        </th>
      </tr>
    </table>
  </div>

</div>




</body>

