<body class="body">

<div class="infoSalon">Nom du salon : salon 1 <br> Code du salon : Hgf56x </div>

<p class="titre">Salon</p>

<div class="caseAllJoueur">
  <div class="caseJoueur">
    <h1>Nom joueur 1</h1><br>
    <img class="avatar" src="avatar1.png" width="100">
    <div class="tablePokemon">
      <table>
        <tr>
          <th>
            <img src="arbok.png" width="130">
          </th>
          <th>
            <img src="arcanin.png" width="130">
          </th>
          <th>
            <img src="chrysacier.png" width="130">
          </th>
        </tr>
        <tr>
          <th>
            <img src="florizarre.png" width="130">
          </th>
          <th>
            <img src="grolem.png" width="130">
          </th>
          <th>
            <img src="ronflex.png" width="130">
          </th>
        </tr>
      </table>
    </div>
  </div>

  <div class="caseVS">

  </div>

  <div class="caseJoueur">
    <h1>Nom joueur 2</h1><br>
    <img class="avatar" src="avatar1.png" width="100">
    <div class="tablePokemon">
      <table>
        <tr>
          <th>
            <img src="voltali.png" width="130">
          </th>
          <th>
            <img src="grolem.png" width="130">
          </th>
          <th>
            <img src="tauros.png" width="130">
          </th>
        </tr>
        <tr>
          <th>
            <img src="scarabrute.png" width="130">
          </th>
          <th>
            <img src="voltali.png" width="130">
          </th>
          <th>
            <img src="roucarnage.png" width="130">
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="center">
    <button style="background-color: rgba(0,0,0,0.6);"><h1>FIGHT</h1></button>
  </div>
</div>
</body>
