<body class="body">

<div class="infoSalon">Nom du salon : {{findNomSalon()}} <br> Code du salon : {{findCodeSalon()}} </div>

<p class="titre">Salon</p>

<div class="caseAllJoueur">
  <div class="caseJoueur">
    <h1 id="NomJoueur">{{findNomJ1()}}</h1><br>
    <img class="avatar" src="{{findAvatarJ1()}}" alt="avatarJ1.png" width="100">
    <div class="tablePokemon">
      <h1 id="liste">Combat avec :</h1>
      <table>
        <tr>
          <th>
            <img src="{{findEquipeJ1().listPokemons[0].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
          <th>
            <img src="{{findEquipeJ1().listPokemons[1].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
          <th>
            <img src="{{findEquipeJ1().listPokemons[2].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
        </tr>
        <tr *ngIf="findEquipeJ1().listPokemons.length>3">
          <th>
            <img src="{{findEquipeJ1().listPokemons[3].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
          <th *ngIf="findEquipeJ1().listPokemons.length>4">
            <img src="{{findEquipeJ1().listPokemons[4].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
          <th *ngIf="findEquipeJ1().listPokemons.length>5">
            <img src="{{findEquipeJ1().listPokemons[5].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
        </tr>
      </table>
    </div>
  </div>

  <div class="caseVS">

  </div>

  <div class="caseJoueur" *ngIf="IsJoueur2()">
    <h1 id="NomJoueur">{{findNomJ2()}}</h1><br>
    <img class="avatar" src="{{findAvatarJ2()}}" alt="avatar2.png" width="100">
    <div class="tablePokemon">
      <h1 id="liste">Combat avec :</h1>
      <table>
        <tr>
          <th>
            <img src="{{findEquipeJ2().listPokemons[0].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
          <th>
            <img src="{{findEquipeJ2().listPokemons[1].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
          <th>
            <img src="{{findEquipeJ2().listPokemons[2].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
        </tr>
        <tr *ngIf="findEquipeJ2().listPokemons.length>3">
          <th>
            <img src="{{findEquipeJ2().listPokemons[3].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
          <th *ngIf="findEquipeJ2().listPokemons.length>4">
            <img src="{{findEquipeJ2().listPokemons[4].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
          <th *ngIf="findEquipeJ2().listPokemons.length>5">
            <img src="{{findEquipeJ2().listPokemons[5].pokeReference.avatar}}" alt="poke.png" width="130">
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container" *ngIf="!IsJoueur2()">
  <div class="center">
    <button style="background-color: rgba(0,0,0,0.6);" disabled><h1>FIGHT</h1></button>
  </div>
</div>

<div class="container" *ngIf="IsJoueur2()">
  <div class="center">
    <button style="background-color: rgba(0,0,0,0.6);" [routerLink]="['/match']" [queryParams]="{idSalon : salonForm.id}"><h1>FIGHT</h1></button>
  </div>
</div>

</body>
