<body class="body">

<p class="titre">Pokedex</p><br><br>
<h1></h1>
<div style="text-align: center">
  <input class="search" type="text" value="Chercher un Pokémon..." [(ngModel)]="valeur"><br><br>
  <div *ngIf="type1==''">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <span class="typeFiltre">Type 1 : </span>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="acier" value="acier" autocomplete="off" (click)="clickBouton1('acier')">Acier
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="combat" value="combat" autocomplete="off" (click)="clickBouton1('combat')"> Combat
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="dragon" value="dragon" autocomplete="off" (click)="clickBouton1('dragon')"> Dragon
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="eau" value="eau" autocomplete="off" (click)="clickBouton1('eau')"> Eau
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="electrique" value="electrique" autocomplete="off" (click)="clickBouton1('electrique')"> Electrique
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="fee" autocomplete="off" value="fee" (click)="clickBouton1('fee')"> Fée
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="feu" autocomplete="off" value="feu" (click)="clickBouton1('feu')"> Feu
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="glace" autocomplete="off" value="glace" (click)="clickBouton1('glace')"> Glace
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="insecte" autocomplete="off" value="insecte" (click)="clickBouton1('insecte')"> Insecte
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="normal" autocomplete="off" value="normal" (click)="clickBouton1('normal')"> Normal
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="plante" autocomplete="off" value="plante" (click)="clickBouton1('plante')"> Plante
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="poison" autocomplete="off" value="poison" (click)="clickBouton1('poison')"> Poison
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="psy" autocomplete="off" value="psy" (click)="clickBouton1('psy')"> Psy
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="roche" autocomplete="off" value="roche" (click)="clickBouton1('roche')"> Roche
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="sol" autocomplete="off" value="sol" (click)="clickBouton1('sol')"> Sol
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="spectre" autocomplete="off" value="spectre" (click)="clickBouton1('spectre')"> Spectre
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="tenebres" autocomplete="off" value="tenebres" (click)="clickBouton1('tenebres')"> Ténèbres
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options" id="vol" autocomplete="off" value="vol" (click)="clickBouton1('vol')"> Vol
    </label>
  </div>
</div>

  <div *ngIf="type1!=''">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <span class="typeFiltre">Type 1 : </span>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='acier'">
        <input type="radio" name="options" id="acier" value="acier" autocomplete="off" (click)="clickBouton1('acier')">Acier
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='combat'">
        <input type="radio" name="options" id="combat" value="combat" autocomplete="off" (click)="clickBouton1('combat')"> Combat
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='dragon'">
        <input type="radio" name="options" id="dragon" value="dragon" autocomplete="off" (click)="clickBouton1('dragon')"> Dragon
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='eau'">
        <input type="radio" name="options" id="eau" value="eau" autocomplete="off" (click)="clickBouton1('eau')"> Eau
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='electrique'">
        <input type="radio" name="options" id="electrique" value="electrique" autocomplete="off" (click)="clickBouton1('electrique')"> Electrique
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='fee'">
        <input type="radio" name="options" id="fee" autocomplete="off" value="fee" (click)="clickBouton1('fee')"> Fée
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='feu'">
        <input type="radio" name="options" id="feu" autocomplete="off" value="feu" (click)="clickBouton1('feu')"> Feu
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='glace'">
        <input type="radio" name="options" id="glace" autocomplete="off" value="glace" (click)="clickBouton1('glace')"> Glace
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='insecte'">
        <input type="radio" name="options" id="insecte" autocomplete="off" value="insecte" (click)="clickBouton1('insecte')"> Insecte
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='normal'">
        <input type="radio" name="options" id="normal" autocomplete="off" value="normal" (click)="clickBouton1('normal')"> Normal
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='plante'">
        <input type="radio" name="options" id="plante" autocomplete="off" value="plante" (click)="clickBouton1('plante')"> Plante
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='poison'">
        <input type="radio" name="options" id="poison" autocomplete="off" value="poison" (click)="clickBouton1('poison')"> Poison
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='psy'">
        <input type="radio" name="options" id="psy" autocomplete="off" value="psy" (click)="clickBouton1('psy')"> Psy
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='roche'">
        <input type="radio" name="options" id="roche" autocomplete="off" value="roche" (click)="clickBouton1('roche')"> Roche
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='sol'">
        <input type="radio" name="options" id="sol" autocomplete="off" value="sol" (click)="clickBouton1('sol')"> Sol
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='spectre'">
        <input type="radio" name="options" id="spectre" autocomplete="off" value="spectre" (click)="clickBouton1('spectre')"> Spectre
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='tenebres'">
        <input type="radio" name="options" id="tenebres" autocomplete="off" value="tenebres" (click)="clickBouton1('tenebres')"> Ténèbres
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type1=='vol'">
        <input type="radio" name="options" id="vol" autocomplete="off" value="vol" (click)="clickBouton1('vol')"> Vol
      </label>
    </div>
  </div>

  <p></p>

  <div *ngIf="type2==''">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <span class="typeFiltre">Type 2 : </span>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="acier2" autocomplete="off" value="acier" (click)="clickBouton2('acier')">Acier
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="combat2" autocomplete="off" value="combat"  (click)="clickBouton2('combat')"> Combat
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="dragon2" autocomplete="off" value="dragon" (click)="clickBouton2('dragon')"> Dragon
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="eau2" autocomplete="off" value="eau" (click)="clickBouton2('eau')"> Eau
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="electrique2" autocomplete="off" value="electrique" (click)="clickBouton2('electrique')"> Electrique
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="fee2" autocomplete="off" value="fee" (click)="clickBouton2('fee')"> Fée
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="feu2" autocomplete="off" value="feu" (click)="clickBouton2('feu')"> Feu
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="glace2" autocomplete="off" value="glace" (click)="clickBouton2('glace')"> Glace
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="insecte2" autocomplete="off" value="insecte" (click)="clickBouton2('insecte')"> Insecte
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="normal2" autocomplete="off" value="normal" (click)="clickBouton2('normal')"> Normal
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="plante2" autocomplete="off" value="plante" (click)="clickBouton2('plante')"> Plante
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="poison2" autocomplete="off" value="poison" (click)="clickBouton2('poison')"> Poison
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="psy2" autocomplete="off" value="psy" (click)="clickBouton2('psy')"> Psy
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="roche2" autocomplete="off" value="roche" (click)="clickBouton2('roche')"> Roche
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="sol2" autocomplete="off" value="sol" (click)="clickBouton2('sol')"> Sol
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="spectre2" autocomplete="off" value="spectre" (click)="clickBouton2('spectre')"> Spectre
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="tenebres2" autocomplete="off" value="tenebres" (click)="clickBouton2('tenebres')"> Ténèbres
    </label>
    <label class="btn btn-light btn-outline-dark">
      <input type="radio" name="options2" id="vol2" autocomplete="off" value="vol" (click)="clickBouton2('vol')"> Vol
    </label>
  </div>
  </div>

  <div *ngIf="type2!=''">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <span class="typeFiltre">Type 2 : </span>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='acier'">
        <input type="radio" name="options2" id="acier2" autocomplete="off" value="acier" (click)="clickBouton2('acier')">Acier
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='combat'">
        <input type="radio" name="options2" id="combat2" autocomplete="off" value="combat"  (click)="clickBouton2('combat')"> Combat
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='dragon'">
        <input type="radio" name="options2" id="dragon2" autocomplete="off" value="dragon" (click)="clickBouton2('dragon')"> Dragon
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='eau'">
        <input type="radio" name="options2" id="eau2" autocomplete="off" value="eau" (click)="clickBouton2('eau')"> Eau
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='electrique'">
        <input type="radio" name="options2" id="electrique2" autocomplete="off" value="electrique" (click)="clickBouton2('electrique')"> Electrique
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='fee'">
        <input type="radio" name="options2" id="fee2" autocomplete="off" value="fee" (click)="clickBouton2('fee')"> Fée
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='feu'">
        <input type="radio" name="options2" id="feu2" autocomplete="off" value="feu" (click)="clickBouton2('feu')"> Feu
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='glace'">
        <input type="radio" name="options2" id="glace2" autocomplete="off" value="glace" (click)="clickBouton2('glace')"> Glace
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='insecte'">
        <input type="radio" name="options2" id="insecte2" autocomplete="off" value="insecte" (click)="clickBouton2('insecte')"> Insecte
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='normal'">
        <input type="radio" name="options2" id="normal2" autocomplete="off" value="normal" (click)="clickBouton2('normal')"> Normal
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='plante'">
        <input type="radio" name="options2" id="plante2" autocomplete="off" value="plante" (click)="clickBouton2('plante')"> Plante
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='poison'">
        <input type="radio" name="options2" id="poison2" autocomplete="off" value="poison" (click)="clickBouton2('poison')"> Poison
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='psy'">
        <input type="radio" name="options2" id="psy2" autocomplete="off" value="psy" (click)="clickBouton2('psy')"> Psy
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='roche'">
        <input type="radio" name="options2" id="roche2" autocomplete="off" value="roche" (click)="clickBouton2('roche')"> Roche
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='sol'">
        <input type="radio" name="options2" id="sol2" autocomplete="off" value="sol" (click)="clickBouton2('sol')"> Sol
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='spectre'">
        <input type="radio" name="options2" id="spectre2" autocomplete="off" value="spectre" (click)="clickBouton2('spectre')"> Spectre
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='tenebres'">
        <input type="radio" name="options2" id="tenebres2" autocomplete="off" value="tenebres" (click)="clickBouton2('tenebres')"> Ténèbres
      </label>
      <label class="btn btn-light btn-outline-dark" [class.active]="type2=='vol'">
        <input type="radio" name="options2" id="vol2" autocomplete="off" value="vol" (click)="clickBouton2('vol')"> Vol
      </label>
    </div>
  </div>

<!--  <mat-button-toggle-group class="btn-group btn-group-toggle " data-toggle="buttons">-->
<!--    <span class="typeFiltre">Type 1 : </span>-->
<!--    <div *ngFor="let type of listTypes()">-->
<!--      <mat-button-toggle class="btn btn-sm btn-light btn-outline-dark">{{type}}</mat-button-toggle>-->
<!--    </div>-->
<!--  </mat-button-toggle-group>-->

<!--  <p></p>-->

<!--  <mat-button-toggle-group class="btn-group btn-group-toggle " data-toggle="buttons">-->
<!--    <span class="typeFiltre">Type 2 : </span>-->
<!--    <div *ngFor="let type of listTypes()">-->
<!--      <mat-button-toggle class="btn btn-sm btn-light btn-outline-dark">{{type}}</mat-button-toggle>-->
<!--    </div>-->
<!--  </mat-button-toggle-group>-->



</div>

<br><br>
<div *ngIf="valeur.length===0 && !click1 && !click2">
<div class="casePokemon" *ngFor="let pokemon of list()">
  <img src="{{pokemon.avatar}}" class="imgPoke" alt="poke.png"><br><br>
  <p class="nomPoke">{{pokemon.nom}}</p>
  <span class="tooltiptext">
			<span class="underline">Nom </span><span>: {{pokemon.nom}}</span><br>
			<span class="underline">Type </span><span>: <img style="width: 80px" src="{{pokemon.type1.avatar}}"> <img style="width: 80px" src="{{pokemon.type2?.avatar}}"></span><br>
			<span class="underline">Stats </span><span>: HP {{pokemon.hp}} | A {{pokemon.attaque}} | D {{pokemon.defense}} | AS {{pokemon.attaqueSpe}} | DS {{pokemon.defenseSpe}} | V {{pokemon.speed}} </span><br>
			<span class="underline">Taille </span><span>: {{pokemon.taille}} m</span><br>
      <span class="underline">Poids </span><span>: {{pokemon.poids}} kg</span><br>
      <span class="underline">Description </span><span>: {{pokemon.description}}</span><br>
			<button *ngIf="idEquipe && idMonPokemon" class="choisir" (click)="validerMonPokemon(pokemon.id)">Choisir</button> <!-- <a [routerLink]="['/parametresEquipe']"> </a> -->
		</span>
</div>
</div>

<div *ngIf="valeur.length>0 && !click1 && !click2">
  <div class="casePokemon" *ngFor="let pokemon of rechercheString()">
    <img src="{{pokemon.avatar}}" class="imgPoke" alt="poke.png"><br><br>
    <p class="nomPoke">{{pokemon.nom}}</p>
    <span class="tooltiptext">
			<span class="underline">Nom </span><span>: {{pokemon.nom}}</span><br>
			<span class="underline">Type </span><span>: <img style="width: 80px" src="{{pokemon.type1.avatar}}"> <img style="width: 80px" src="{{pokemon.type2?.avatar}}"></span><br>
			<span class="underline">Stats </span><span>: HP {{pokemon.hp}} | A {{pokemon.attaque}} | D {{pokemon.defense}} | AS {{pokemon.attaqueSpe}} | DS {{pokemon.defenseSpe}} | V {{pokemon.speed}} </span><br>
			<span class="underline">Taille </span><span>: {{pokemon.taille}} m</span><br>
      <span class="underline">Poids </span><span>: {{pokemon.poids}} kg</span><br>
      <span class="underline">Description </span><span>: {{pokemon.description}}</span><br>
			<button *ngIf="idEquipe && idMonPokemon" class="choisir" (click)="validerMonPokemon(pokemon.id)">Choisir</button> <!-- <a [routerLink]="['/parametresEquipe']"> </a> -->
		</span>
  </div>
</div>

<div *ngIf="valeur.length===0 && click1 && !click2">
  <div class="casePokemon" *ngFor="let pokemon of rechercheType1()">
    <img src="{{pokemon.avatar}}" class="imgPoke" alt="poke.png"><br><br>
    <p class="nomPoke">{{pokemon.nom}}</p>
    <span class="tooltiptext">
			<span class="underline">Nom </span><span>: {{pokemon.nom}}</span><br>
			<span class="underline">Type </span><span>: <img style="width: 80px" src="{{pokemon.type1.avatar}}"> <img style="width: 80px" src="{{pokemon.type2?.avatar}}"></span><br>
			<span class="underline">Stats </span><span>: HP {{pokemon.hp}} | A {{pokemon.attaque}} | D {{pokemon.defense}} | AS {{pokemon.attaqueSpe}} | DS {{pokemon.defenseSpe}} | V {{pokemon.speed}} </span><br>
			<span class="underline">Taille </span><span>: {{pokemon.taille}} m</span><br>
      <span class="underline">Poids </span><span>: {{pokemon.poids}} kg</span><br>
      <span class="underline">Description </span><span>: {{pokemon.description}}</span><br>
			<button *ngIf="idEquipe && idMonPokemon" class="choisir" (click)="validerMonPokemon(pokemon.id)">Choisir</button> <!-- <a [routerLink]="['/parametresEquipe']"> </a> -->
		</span>
  </div>
</div>

<div *ngIf="valeur.length===0 && !click1 && click2">
  <div class="casePokemon" *ngFor="let pokemon of rechercheType2()">
    <img src="{{pokemon.avatar}}" class="imgPoke" alt="poke.png"><br><br>
    <p class="nomPoke">{{pokemon.nom}}</p>
    <span class="tooltiptext">
			<span class="underline">Nom </span><span>: {{pokemon.nom}}</span><br>
			<span class="underline">Type </span><span>: <img style="width: 80px" src="{{pokemon.type1.avatar}}"> <img style="width: 80px" src="{{pokemon.type2?.avatar}}"></span><br>
			<span class="underline">Stats </span><span>: HP {{pokemon.hp}} | A {{pokemon.attaque}} | D {{pokemon.defense}} | AS {{pokemon.attaqueSpe}} | DS {{pokemon.defenseSpe}} | V {{pokemon.speed}} </span><br>
			<span class="underline">Taille </span><span>: {{pokemon.taille}} m</span><br>
      <span class="underline">Poids </span><span>: {{pokemon.poids}} kg</span><br>
      <span class="underline">Description </span><span>: {{pokemon.description}}</span><br>
			<button *ngIf="idEquipe && idMonPokemon" class="choisir" (click)="validerMonPokemon(pokemon.id)">Choisir</button> <!-- <a [routerLink]="['/parametresEquipe']"> </a> -->
		</span>
  </div>
</div>

<div *ngIf="valeur.length===0 && click1 && click2">
  <div class="casePokemon" *ngFor="let pokemon of rechercheType1EtType2()">
    <img src="{{pokemon.avatar}}" class="imgPoke" alt="poke.png"><br><br>
    <p class="nomPoke">{{pokemon.nom}}</p>
    <span class="tooltiptext">
			<span class="underline">Nom </span><span>: {{pokemon.nom}}</span><br>
			<span class="underline">Type </span><span>: <img style="width: 80px" src="{{pokemon.type1.avatar}}"> <img style="width: 80px" src="{{pokemon.type2?.avatar}}"></span><br>
			<span class="underline">Stats </span><span>: HP {{pokemon.hp}} | A {{pokemon.attaque}} | D {{pokemon.defense}} | AS {{pokemon.attaqueSpe}} | DS {{pokemon.defenseSpe}} | V {{pokemon.speed}} </span><br>
			<span class="underline">Taille </span><span>: {{pokemon.taille}} m</span><br>
      <span class="underline">Poids </span><span>: {{pokemon.poids}} kg</span><br>
      <span class="underline">Description </span><span>: {{pokemon.description}}</span><br>
			<button *ngIf="idEquipe && idMonPokemon" class="choisir" (click)="validerMonPokemon(pokemon.id)">Choisir</button> <!-- <a [routerLink]="['/parametresEquipe']"> </a> -->
		</span>
  </div>
</div>

<div *ngIf="valeur.length>0 && click1 && !click2">
  <div class="casePokemon" *ngFor="let pokemon of RechercheStringEtType1()">
    <img src="{{pokemon.avatar}}" class="imgPoke" alt="poke.png"><br><br>
    <p class="nomPoke">{{pokemon.nom}}</p>
    <span class="tooltiptext">
			<span class="underline">Nom </span><span>: {{pokemon.nom}}</span><br>
			<span class="underline">Type </span><span>: <img style="width: 80px" src="{{pokemon.type1.avatar}}"> <img style="width: 80px" src="{{pokemon.type2?.avatar}}"></span><br>
			<span class="underline">Stats </span><span>: HP {{pokemon.hp}} | A {{pokemon.attaque}} | D {{pokemon.defense}} | AS {{pokemon.attaqueSpe}} | DS {{pokemon.defenseSpe}} | V {{pokemon.speed}} </span><br>
			<span class="underline">Taille </span><span>: {{pokemon.taille}} m</span><br>
      <span class="underline">Poids </span><span>: {{pokemon.poids}} kg</span><br>
      <span class="underline">Description </span><span>: {{pokemon.description}}</span><br>
			<button *ngIf="idEquipe && idMonPokemon" class="choisir" (click)="validerMonPokemon(pokemon.id)">Choisir</button> <!-- <a [routerLink]="['/parametresEquipe']"> </a> -->
		</span>
  </div>
</div>

<div *ngIf="valeur.length>0 && !click1 && click2">
  <div class="casePokemon" *ngFor="let pokemon of RechercheStringEtType2()">
    <img src="{{pokemon.avatar}}" class="imgPoke" alt="poke.png"><br><br>
    <p class="nomPoke">{{pokemon.nom}}</p>
    <span class="tooltiptext">
			<span class="underline">Nom </span><span>: {{pokemon.nom}}</span><br>
			<span class="underline">Type </span><span>: <img style="width: 80px" src="{{pokemon.type1.avatar}}"> <img style="width: 80px" src="{{pokemon.type2?.avatar}}"></span><br>
			<span class="underline">Stats </span><span>: HP {{pokemon.hp}} | A {{pokemon.attaque}} | D {{pokemon.defense}} | AS {{pokemon.attaqueSpe}} | DS {{pokemon.defenseSpe}} | V {{pokemon.speed}} </span><br>
			<span class="underline">Taille </span><span>: {{pokemon.taille}} m</span><br>
      <span class="underline">Poids </span><span>: {{pokemon.poids}} kg</span><br>
      <span class="underline">Description </span><span>: {{pokemon.description}}</span><br>
			<button *ngIf="idEquipe && idMonPokemon" class="choisir" (click)="validerMonPokemon(pokemon.id)">Choisir</button> <!-- <a [routerLink]="['/parametresEquipe']"> </a> -->
		</span>
  </div>
</div>

<div *ngIf="valeur.length>0 && click1 && click2">
  <div class="casePokemon" *ngFor="let pokemon of RechercheStringEtType1EtType2()">
    <img src="{{pokemon.avatar}}" class="imgPoke" alt="poke.png"><br><br>
    <p class="nomPoke">{{pokemon.nom}}</p>
    <span class="tooltiptext">
			<span class="underline">Nom </span><span>: {{pokemon.nom}}</span><br>
			<span class="underline">Type </span><span>: <img style="width: 80px" src="{{pokemon.type1.avatar}}"> <img style="width: 80px" src="{{pokemon.type2?.avatar}}"></span><br>
			<span class="underline">Stats </span><span>: HP {{pokemon.hp}} | A {{pokemon.attaque}} | D {{pokemon.defense}} | AS {{pokemon.attaqueSpe}} | DS {{pokemon.defenseSpe}} | V {{pokemon.speed}} </span><br>
			<span class="underline">Taille </span><span>: {{pokemon.taille}} m</span><br>
      <span class="underline">Poids </span><span>: {{pokemon.poids}} kg</span><br>
      <span class="underline">Description </span><span>: {{pokemon.description}}</span><br>
			<button *ngIf="idEquipe && idMonPokemon" class="choisir" (click)="validerMonPokemon(pokemon.id)">Choisir</button> <!-- <a [routerLink]="['/parametresEquipe']"> </a> -->
		</span>
  </div>
</div>

</body>
