@charset "UTF-8";

.body {
  background-image: url(../../assets/fondPokedex.png);
  background-color: #80b280;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav{
  position: relative;
  background-color : rgba(0,0,0,0.6);
  border-bottom-style: groove;
  border-bottom-color:  #cc423f;
  padding : 5px;
}

a:link, a:visited{
  color: #ffcc00;
}

li{
  display: inline;
  padding: 15px;
  font-family: pokemonFont;
  font-size: 20px;
  color: #ffcc00;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
}

.titre{
  font-family: pokemonFont;
  font-size: 75px;
  color: #ffcc00;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
  text-align: center;
  letter-spacing: 6px;
}

.search {
  border-radius: 18px;
  min-width:200px;
  text-align: center;
}

.typeFiltre {
  width: 100px;
  font-family: pokemonFont;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
  letter-spacing: 2px;
  font-size: 15px;
  color: #ffcc00;
  display: inline-block;
  margin-top: 5px;
}

.btn-group .btn-group-toggle {
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

mat-button-toggle {
  font-size: 16px;
  border: 1px outset black;
  max-width: 100px;
  max-height: 50px;
}

.btn-group .button:hover {
  background-color: rgb(200,200,200);
}

.casePokemon{
  position: relative;
  display: inline-block;
  background-color : rgba(0,0,0,0.6);
  border-style: groove;
  border-color: #cc423f;
  border-radius : 10px;
  padding : 10px;
  margin-top: 5px;
  margin-left: 15px;
}

.imgPoke {
  object-fit: contain;
  width: 200px;
  height: 180px;
}

.casePokemon .tooltiptext {
  visibility: hidden;
  width: 270px;
  border-radius: 6px;
  border: 1px solid black;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  background-color: rgb(230,230,230);
  color: black;
  opacity: 0;
  transition: opacity 1s;
  bottom: 70%;
  left: 110%;
  margin-left: -100px;
}

.casePokemon:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}

.casePokemon .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 91%;
  right: 100%;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgb(230,230,230) transparent transparent;
}

.pokeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nomPoke {
  font-family: pokemonFont;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
  letter-spacing: 2px;
  font-size: 20px;
  color: #ffcc00;
  text-align: center;
}

.choisir {
  border: none;
  background-color: rgb(230,230,230);
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: pokemonFont;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
  letter-spacing: 2px;
  color: #ffcc00;
  cursor: pointer;
  position: relative;
  float: right;
  border-radius: 6px;
}

.underline {
  text-decoration: underline;
}
