<div class="nav">
  <ul>
    <li><a [routerLink]="['/accueil']" (click) = "loadAcceuil()">Acceuil</a></li>
    <li><a [routerLink]="['/connexion']">Connexion</a></li>
    <li><a [routerLink]="['/inscription']"><img src="../assets/pokedex.png" width="30" height="40"> Inscription</a></li>
    <li><a [routerLink]="['/parametresEquipe']">Paramètres de l'équipe</a></li>
    <li><a [routerLink]="['/pokedex']">Pokedex</a></li>
    <li><a [routerLink]="['/salon']">Salon</a></li>
    <li><a [routerLink]="['/match']">Match</a></li>
    <li><a [routerLink]="['/profil']">Profil</a></li>
  </ul>
</div>

<div>
  <router-outlet></router-outlet>
</div>
