<body class="body">
<p class="titre">Paramètres avancés de l'équipe</p><br><br>

 <div class="casePokemon" *ngFor = "let pokemon of getEquipe().listPokemons, let index = index;">
   <h1>{{pokemon?.pokeReference?.nom}}</h1><br>
   <table>
    <tr>
      <th rowspan="2">
        <img src= "{{pokemon?.pokeReference?.avatar}}" alt="voltali.png" width="150" height="150">
      </th>
      <th>
        <select class="box sizeFixed" [(ngModel)]="equipeForm.listPokemons[index].attaque1">
          <option selected="selected" [ngValue]="pokemon?.attaque1">{{pokemon?.attaque1?.nom}}</option>
          <option *ngFor="let attaque of getAttaques(pokemon?.pokeReference.nom)" [ngValue]="attaque">{{attaque?.nom}}</option>
        </select>
      </th>
      <th>
        <select class="box sizeFixed" [(ngModel)]="equipeForm.listPokemons[index].attaque2">
          <option selected="selected" [ngValue]="pokemon?.attaque2">{{pokemon?.attaque2?.nom}}</option>
          <option *ngFor="let attaque of getAttaques(pokemon?.pokeReference.nom)" [ngValue]="attaque">{{attaque?.nom}}</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>
        <select class="box sizeFixed" [(ngModel)]="equipeForm.listPokemons[index].attaque3">
          <option selected="selected" [ngValue]="pokemon?.attaque3">{{pokemon?.attaque3?.nom}}</option>
          <option *ngFor="let attaque of getAttaques(pokemon?.pokeReference.nom)" [ngValue]="attaque">{{attaque?.nom}}</option>
        </select>
      </th>
      <th>
        <select class="box sizeFixed" [(ngModel)]="equipeForm.listPokemons[index].attaque4">
          <option selected="selected" [ngValue]="pokemon?.attaque4">{{pokemon?.attaque4?.nom}}</option>
          <option *ngFor="let attaque of getAttaques(pokemon?.pokeReference.nom)" [ngValue]="attaque">{{attaque?.nom}}</option>
        </select>
      </th>
    </tr>

    <div>
      <button type="button" class="boutonAleatoire">?</button>
    </div>

    <tr>
      <th>&nbsp;</th>
    <tr>
      <th>
        <a [routerLink]="['/pokedex']" [queryParams]="{idEquipe: id, idMonPokemon: equipeForm.listPokemons[index].id}">Changer</a>
      </th>
    </tr>
  </table>

</div>

<div class="center">
  <button type="button" class="boutonValider" (click)="validerEquipe()">Valider les changements</button>
</div>

<footer>
  <p>© 2021 PokeBowl - Sopra Steria</p>
</footer>

</body>
