<body class="body">
<p class="titre">Paramètres avancés de l'équipe</p><br><br>


<div class="casePokemon">
  <h1>Pokemon</h1><br>

  <div class="aleatoire">
    <button type="button" class="boutonAleatoire">?</button>
  </div>
  <table>
    <tr>
      <th rowspan="2">
        <img src="arcanin.png" alt="voltali.png" width="150" height="150">
      </th>

      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>

    <tr>
      <th>&nbsp;</th>
    <tr>
      <th>
        <a href="Changer" class="changer">Changer</a>
      </th>
    </tr>
  </table>

</div>

<div class="casePokemon">
  <h1>Pokemon</h1><br>

  <div class="aleatoire">
    <button type="button" class="boutonAleatoire">?</button>
  </div>
  <table>
    <tr>
      <th rowspan="2">
        <img src="scarabrute.png" alt="scarabrute.png" width="150" height="150">
      </th>

      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>&nbsp;</th>
    <tr>
      <th>
        <a href="Changer" class="changer">Changer</a>
      </th>
    </tr>
  </table>

</div>

<div class="casePokemon">
  <h1>Pokemon</h1><br>

  <div class="aleatoire">
    <button type="button" class="boutonAleatoire">?</button>
  </div>
  <table>
    <tr>
      <th rowspan="2">
        <img src="ronflex.png" alt="ronflex.png" width="150" height="150">
      </th>

      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>&nbsp;</th>
    <tr>
      <th>
        <a href="Changer" class="changer">Changer</a>
      </th>
    </tr>
  </table>

</div>

<div class="casePokemon">
  <h1>Pokemon</h1><br>

  <div class="aleatoire">
    <button type="button" class="boutonAleatoire">?</button>
  </div>
  <table>
    <tr>
      <th rowspan="2">
        <img src="tauros.png" alt="tauros.png" width="150" height="150">
      </th>

      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>&nbsp;</th>
    <tr>
      <th>
        <a href="Changer" class="changer">Changer</a>
      </th>
    </tr>
  </table>

</div>

<div class="casePokemon">
  <h1>Pokemon</h1><br>

  <div class="aleatoire">
    <button type="button" class="boutonAleatoire">?</button>
  </div>
  <table>
    <tr>
      <th rowspan="2">
        <img src="miaouss.png" alt="miaouss.png" width="150" height="150">
      </th>

      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>&nbsp;</th>
    <tr>
      <th>
        <a href="Changer" class="changer">Changer</a>
      </th>
    </tr>
  </table>

</div>

<div class="casePokemon">
  <h1>Pokemon</h1><br>

  <div class="aleatoire">
    <button type="button" class="boutonAleatoire">?</button>
  </div>
  <table>
    <tr>
      <th rowspan="2">
        <img src="voltali.png" alt="voltali.png" width="150" height="150">
      </th>

      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
      <th>
        <select class="box">
          <option>Attaque 1</option>
          <option>Attaque 2</option>
          <option>Attaque 3</option>
          <option>Attaque 4</option>
        </select>
      </th>
    </tr>
    <tr>
      <th>&nbsp;</th>
    <tr>
      <th>
        <a href="Changer" class="changer">Changer</a>
      </th>
    </tr>
  </table>

</div>



</body>
