<body class="body">

<div class="cadreConnexion">
  <img src="../../assets/logoPokemon.png" alt="pokemon.png" width="230" height="135"><br>
  <h1>Connexion</h1><br><br>
  <label class="data">Pseudo :</label><br>

  <input type="text" class="form-control" placeholder="tapez votre pseudo" [(ngModel)]="connexionForm.pseudo"><br><br><br>

  <label class="data">Mot de passe :</label><br>

  <input type="password" class="form-control" placeholder="..." [(ngModel)]="connexionForm.motDePasse"><br><br>


  <button class="data" (click)="connexion()">Connexion<br><br>
    <img src="../../assets/pokeball.png" alt="pokeball.png" style="width: 60px; height: 60px;">
  </button><br><br>
  <p *ngIf="!connexionValidation" class="valids">* Les informations sont incorrectes</p>

  <a [routerLink]="['/inscription']">Créer un compte</a>
</div>

</body>


