<body class="body">

<div class="cadreCreationEquipe">
  <h2>Création d'équipe</h2>

  <div class="cadreNbPokemon">
    <label class="h3">Nombre de pokemons :</label>
    <select name="nbPokemon" class="box">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>

    <table>
      <tr>
        <th>&nbsp;</th>
      </tr>

      <tr>
        <th>
          <select class="box">
            <option>Pokemon 1</option>
            <option>Pokemon 2</option>
            <option>Pokemon 3</option>
          </select>
        </th>

        <th>
          <img src="../../assets/krabby.png" alt="krabby.png" width="100" height="55">
        </th>

        <th>
          <select class="box">
            <option>Pokemon 1</option>
            <option>Pokemon 2</option>
            <option>Pokemon 3</option>
          </select>
        </th>

        <th>
          <img src="../../assets/reptincel.png" alt="reptincel.png" width="90" height="80">
        </th>
      </tr>

      <tr>
        <th>
          <select class="box">
            <option>Pokemon 1</option>
            <option>Pokemon 2</option>
            <option>Pokemon 3</option>
          </select>
        </th>

        <th>
          <img src="../../assets/chrysacier.png" alt="chrysacier.png" width="90" height="80">
        </th>

        <th>
          <select class="box">
            <option>Pokemon 1</option>
            <option>Pokemon 2</option>
            <option>Pokemon 3</option>
          </select>
        </th>

        <th>
          <img src="../../assets/sablaireau.png" alt="sablaireau.png" width="90" height="80">
        </th>
      </tr>

      <tr>
        <th>
          <select class="box">
            <option>Pokemon 1</option>
            <option>Pokemon 2</option>
            <option>Pokemon 3</option>
          </select>
        </th>

        <th>
          <img src="../../assets/mew.png" alt="mew.png" width="90" height="80">
        </th>

        <th>
          <select class="box">
            <option>Pokemon 1</option>
            <option>Pokemon 2</option>
            <option>Pokemon 3</option>
          </select>
        </th>

        <th>
          <img src="../../assets/ho-Oh.png" alt="ho-Oh.png" width="90" height="80">
        </th>
      </tr>

      <tr>
        <th>&nbsp;</th>
      </tr>

      <tr>
        <th colspan="2" class="parametreAvance">
          <a href="C:\java\workspace\frontPokeBowl\public\Pages\3.parametresAvancesEquipeUtilisateur\parametresAvances.html" class="h3">Paramètres avancés de l'équipe</a>
        </th>

        <th colspan="2" class="equipeAleatoire">
          <a href="" class="h3">Equipe aléatoire</a>
        </th>
      </tr>
    </table>
  </div>

  <div class="cadreIn">
    <h2>Equipe précédente</h2><br>
    <img src="../../assets/roucarnage.png" alt="roucarnage.png" width="100" height="100">
    <img src="../../assets/arbok.png" alt="arbok.png" width="100" height="100">
    <img src="../../assets/noeunoeuf.png" alt="noeunoeuf.png" width="100" height="100"><br>
    <img src="../../assets/grolem.png" alt="grolem.png" width="100" height="100">
    <img src="../../assets/voltorbe.png" alt="voltorbe.png" width="100" height="100">
    <img src="../../assets/florizarre.png" alt="florizarre.png" width="100" height="100"><br><br>
    <a href="" class="h3">Charger l'équipe</a>
  </div>

  <div class="cadreIn">
    <h2 class="h2">Equipe perso</h2><br>
    <label class="h5">Choisissez parmi vos équipes précédentes :</label><br><br>
    <button type="button" class="boutonEquipe">1</button>
    <button type="button" class="boutonEquipe">2</button><br>
    <button type="button" class="boutonEquipe">3</button>
    <button type="button" class="boutonEquipe">4</button><br><br>
    <a href="" class="h3">Charger l'équipe</a>
  </div>
</div>

<div class="cadreSalon">
  <h1>
    <a href="" class="h3">Créer un salon privé</a><br><br>
    <a href="" class="h3">Rejoindre un salon privé</a><br><br>
    <a href="" class="h3">Chercher un adversaire</a>
  </h1>
</div>

<div class="pokeball">
  <img src="../../assets/pokeball.png" alt="pokeball.png" style="width: 60px; height: 60px;">
</div>


</body>
