@charset "UTF-8";

.body {
  background-image: url('../../assets/fondAcceuilUtilisateur.png');
  background-color: #e7e9eb;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
}

.nav{
  background-color : rgba(0,0,0,0.6);
  border-bottom-style: groove;
  border-bottom-color:  #cc423f;
  padding : 5px;
}

a:link, a:visited{
  color: #ffcc00;
}

li{
  display: inline;
  padding: 35px;
  font-family: pokemonFont;
  font-size: 40px;
  color: #ffcc00;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
}

.cadreCreationEquipe {
  width: 50%;
  background-color : rgba(0,0,0,0.6);
  border-style: groove;
  border-color: #cc423f;
  border-radius : 10px;
  padding : 10px;
  margin-top: 5px;
  margin-left: 10px;
}

.cadreNbPokemon{
  display: inline-block;
  width: 100%;
  border-style: groove;
  border-color: #cc423f;
  border-radius : 10px;
  padding : 15px;
  margin-top: 20px;
}

.search {
  border-radius: 18px;
  width:250px;
  text-align: center;
  font-size : 20px;
  margin-left: 150px;
}

.cadrePokemon{
  display: inline-block;
  width: 10%;
}

.cadreIn{
  display: inline-block;
  width: 49.5%;
  border-style: groove;
  border-color: #cc423f;
  border-radius : 10px;
  padding : 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.affichageEquipeEncours{
  width: 49%;
  display: inline-block;
}

.affichageEquipeEncours1{
  width: 49%;
  display: inline-block;
  position: relative;
  bottom: 37px;
  left: 10px;
}

.pointInterrogation{
  margin-left: 40px;
  display: inline-block;
  font-size: 80px;
}

.cadreSalon{
  width: 500px;
  background-color : rgba(0,0,0,0.6);
  border-style: groove;
  border-color: #cc423f;
  border-radius : 10px;
  padding : 10px;
  position: absolute;
  left: 65%;
  top: 25%;
  text-align: center;
}

h2{
  font-family: pokemonFont;
  color: #ffcc00;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
}

.h3{
  font-family: pokemonFont;
  color: #ffcc00;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
}

.h5{
  font-family: pokemonFont;
  color: #ffcc00;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
  font-size: 20px;
}

.box {
  background-color : rgba(128, 128, 128, 0.6);
  border-style: groove;
  border-color: #808080;
  border-radius : 5px;
  color: #ffcc00;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
  font-family: pokemonFont;
}

table{
  width: 100%;
  text-align: center;
}

th {
/*  border: 1px solid black;*/
  /*width: 150px;
  height: 150px;*/
}

.essai{
  display: inline-block;
}

.parametreAvance{
  float: left;
  font-family: pokemonFont;
  color: #ffcc00;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
}

.parametreAvanceError{
  float: left;
  font-family: pokemonFont;
  color: red;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
}

.equipeAleatoire{
  float: right;
  font-family: pokemonFont;
  color: #ffcc00;

  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
}

.pokeball{
  position: absolute;
  left: 64%;
  top: 24%;
}

input[type="radio"].demo2 {
  display: none;
}
input[type="radio"].demo2 + label {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-style: groove;
  border-color: #808080;
  border-radius : 5px;
  color: #ffcc00;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
  font-family: pokemonFont;
  font-size: 30px;
  width: 160px;
  height: 80px;
  background-color : rgba(128, 128, 128, 0.6);
  transition: all 0.5s ease-in-out;
}
input[type="radio"].demo2.demoyes:hover + label {
  background-color: #6666ff;
  border-color: #6666ff;
}
input[type="radio"].demo2.demoyes:checked + label {
  background-color: #0000ff;
  border-color: #0000ff;
}
.boutonAleatoire{
  /*background-color : rgba(128, 128, 128, 0.6);*/
  background: none;
  border-style: none;
  font-family: pokemonFont;
  color: #ffcc00;
  font-size: 20px;
  text-shadow: 0 0 3px #1f5cab, 0 0 5px #0000FF;
}

.error {
  font-size: 15px;
  color: #ffcc00;
}

