<body class="body">

<div class="cadreCreationEquipe">
  <h2>Création d'équipe</h2>

  <div class="cadreNbPokemon">
    <label class="h3">Nombre de pokemons :</label>
    <select name="nbPokemon" class="box" [(ngModel)]="nombrePokemonParEquipe" (change)="changerTailleEquipeEnCours()">
      <option selected="selected" [value]='nombrePokemonParEquipe'>Nombre de Pokemon</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
    </select>

    <table>
      <tr>
        <th>&nbsp;</th>
      </tr>

        <div *ngFor="let monPokemon of getEquipeEncours().listPokemons, let index=index">

          <!-- Si pokemon dans equipe -->
          <div *ngIf="monPokemon.pokeReference != null">
            <div class ="affichageEquipeEncours">
              <select class="box"[(ngModel)]="equipeEnCoursForm.listPokemons[index].pokeReference" (change)="changePokeReferenceMonPoke(index)">
                <option selected="selected" [ngValue]="monPokemon.pokeReference">{{monPokemon.pokeReference.nom}}</option>
                <option *ngFor="let pokemon of listPokemon()" [ngValue]="pokemon">{{pokemon.nom}}</option>
              </select>
            </div>

            <div class ="affichageEquipeEncours">
              <img *ngIf="equipeEnCoursForm.listPokemons[index].pokeReference" src="{{equipeEnCoursForm.listPokemons[index].pokeReference.avatar}}" alt="poke.png" width="130">
            </div>
          </div>

          <!-- Si pas pokemon dans equipe -->
          <div *ngIf="monPokemon.pokeReference == null">
            <div class ="affichageEquipeEncours">
              <select class="box"[(ngModel)]="equipeEnCoursForm.listPokemons[index].pokeReference" (change)="changePokeReferenceMonPoke(index)">
                <option selected="selected">Pas de pokemon</option>
                <option *ngFor="let pokemon of listPokemon()" [ngValue]="pokemon">{{pokemon.nom}}</option>
              </select>
            </div>

            <div class ="affichageEquipeEncours">
              <h1 class="pointInterrogation">?</h1>
            </div>
          </div>

        </div>

      <tr>
        <th>&nbsp;</th>
      </tr>

      <tr>
        <th colspan="2" class="parametreAvance">
          <a (click)="validerEquipeEnCoursForm(true)" class="h3">Paramètres avancés de l'équipe</a>
        </th>

        <th colspan="2" class="equipeAleatoire">
          <a href="" class="h3">Equipe aléatoire</a>
        </th>
      </tr>
    </table>

  </div>

  <div class="cadreIn" >
    <h2>Equipe précédente</h2><br>
    <div *ngFor="let monPokemon of getEquipePrecedente().listPokemons">
      <div *ngIf="monPokemon != null">
        <img src="{{monPokemon.pokeReference.avatar}}" width="130" >
        <a class="h3" (click)="chargerEquipePrecedente()">Charger l'équipe</a>
      </div>
      <div *ngIf="monPokemon == null">
        <h1>Pas d'équipe précédente sauvegardée</h1>
      </div>
    </div>
  </div>

  <div class="cadreIn">
    <h2 class="h2">Equipe perso</h2><br>
    <label class="h5">Choisissez parmi vos équipes précédentes :</label><br><br>
    <button type="button" class="boutonEquipe" (click)="chargerEquipeSauvegardee(0)">1</button>
    <button type="button" class="boutonEquipe" (click)="chargerEquipeSauvegardee(1)">2</button><br>
    <button type="button" class="boutonEquipe" (click)="chargerEquipeSauvegardee(2)">3</button>
    <button type="button" class="boutonEquipe" (click)="chargerEquipeSauvegardee(3)">4</button><br><br>
  </div>
</div>

<div class="cadreSalon">
  <h1>
    <a href="" class="h3"><img src="../../assets/pokeball.png" alt="pokeball.png" style="width: 60px; height: 60px; margin-right: 100px">Créer un salon privé</a><br><br>
    <a href="" class="h3"><img src="../../assets/superBall.png" alt="pokeball.png" style="width: 60px; height: 60px; margin-right: 210px">Code salon</a><br><br>
    <a href="C:\java\workspace\frontPokeBowl\public\Pages\6.salonUtilisateur\salon.html" class="h3"><img src="../../assets/hyperBall.png" alt="pokeball.png" style="width: 80px; height: 80px; margin-right: 55px">Rejoindre un salon privé</a><br><br>
    <a href="" class="h3"><img src="../../assets/safariBall.png" alt="pokeball.png" style="width: 80px; height: 80px; margin-right: 55px">Chercher un adversaire</a>
  </h1>
</div>


</body>
